﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Room Booking</h1>
    <p class="lead">Welcome to the super-awesome room booking system.</p>
    <p><a href="#/rooms/search" class="btn btn-primary btn-lg">Find a room now! &raquo;</a></p>
</div>

<div ng-app="roomBookingApp">
    <div id="alerts" ng-controller="AlertsController" >
        <div ng-repeat="alert in alerts" ng-cloak class="ng-cloak">
            <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="removeAlert(alert)"><span aria-hidden="true">&times;</span></button>
                <span ng-bind-html="alert.message"></span>
            </div>
        </div>
    </div>

    <div ng-view></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/home");
}