﻿<h2>Bookings for {{roomName}}</h2>
<form>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" ng-model="date" ng-change="loadAvailability()" />
    </div>
    <div class="form-group">
        <a class="btn btn-default" ng-href="#/rooms/book/{{roomName}}/{{date | date : 'yyyy-MM-dd' }}">Book</a>
    </div>
</form>
<table class="table" ng-show="bookings.length > 0">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="booking in bookings">
            <td>{{booking.StartTime | date : 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{booking.EndTime | date : 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{booking.Duration}}min</td>
        </tr>
    </tbody>
</table>
<div ng-show="bookings.length == 0">Completely free!</div>