﻿<h2>Make a booking</h2>
<form ng-submit="submit()" name="roomBooking">
    <div class="form-group" ng-class="{ 'has-error': errors['RoomName'].length > 0 }">
        <label for="roomName">Room</label>
        <select id="roomName" class="form-control" ng-options="room for room in rooms" ng-model="roomName" required></select>
        <div ng-messages="roomBooking.roomName.$error" class="">
            <span class="help-block field-validation-error" ng-message="required">required</span>
            <div ng-repeat="error in errors['RoomName']">
                <span class="help-block field-validation-error">{{error}}</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': errors['StartDate'].length > 0 }">
        <label for="startDate">Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" ng-model="startDate" required />
        <div ng-messages="roomBooking.startDate.$error" class="">
            <span class="help-block field-validation-error" ng-message="required">required</span>
            <div ng-repeat="error in errors['StartDate']">
                <span class="help-block field-validation-error">{{error}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Time</label>
        <label for="startHour" class="sr-only">Start time hours</label>
        <label for="startMinute" class="sr-only">Start time hours</label>
        <label for="startMeridiem" class="sr-only">Start time meridiem</label>
        <div class="input-group">
        </div>
        <div class="input-group">
            <div class="time-picker-field">
                <select id="startHour" class="form-control" ng-model="startHour" ng-options="hour for hour in hours"></select>
            </div>
            <div class="time-picker-field">
                <select id="startMinute" class="form-control" ng-model="startMinute" ng-options="minute for minute in minutes"></select>
            </div>
            <div class="time-picker-field">
                <select id="startMeridiem" class="form-control" ng-model="startMeridiem">
                    <option value="AM" selected="selected">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': errors['Duration'].length > 0 }">
        <label for="duration">Duration</label>
        <div class="input-group">
            <select id="duration" name="duration" class="form-control" ng-model="duration">
                <option value="30" selected="selected">30</option>
                <option value="60">60</option>
            </select>
            <div class="input-group-addon">min</div>
        </div>
        <div ng-messages="roomBooking.duration.$error" class="">
            <span class="help-block field-validation-error" ng-message="required">required</span>
            <div ng-repeat="error in errors['Duration']">
                <span class="help-block field-validation-error">{{error}}</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': errors['AttendeeCount'].length > 0 }">
        <label for="attendeeCount">Number of Attendees</label>
        <input type="number" class="form-control" id="attendeeCount" name="attendeeCount" ng-model="attendeeCount" />
        <div ng-messages="roomBooking.attendeeCount.$error" class="">
            <span class="help-block field-validation-error" ng-message="required">required</span>
            <div ng-repeat="error in errors['AttendeeCount']">
                <span class="help-block field-validation-error">{{error}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="organiserName">Organiser name</label>
        <input type="text" class="form-control" id="organiserName" name="organiserName" ng-model="organiserName" />
    </div>
    <div class="form-group">
        <label for="meetingName">Meeting name</label>
        <input type="text" class="form-control" id="meetingName" ng-model="meetingName" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</form>