﻿<h2>Rooms</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="room in rooms">
            <td>{{room.Name}}</td>
            <td>{{room.Capacity}}</td>
            <td><a class="btn btn-default" role="button" ng-click="selectRoom(room)" href="javascript:void(0)">View</a></td>
        </tr>
    </tbody>
</table>