﻿<h2>Make a booking</h2>
<form ng-submit="submit()" name="roomSearch">
    <div class="form-group">
        <label for="startDate">Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" ng-model="startDate" required/>
        <div ng-messages="roomSearch.startDate.$error" class="">
            <span class="help-block field-validation-error" ng-message="required">required</span>
        </div>
    </div>
    <div class="form-group">
        <label>Time</label>
        <label for="startHour" class="sr-only">Start time hours</label>
        <label for="startMinute" class="sr-only">Start time hours</label>
        <label for="startMeridiem" class="sr-only">Start time meridiem</label>
        <div class="input-group">
        </div>
        <div class="input-group">
            <div class="time-picker-field">
                <select id="startHour" class="form-control" ng-model="startHour" ng-options="hour for hour in hours"></select>
            </div>
            <div class="time-picker-field">
                <select id="startMinute" class="form-control" ng-model="startMinute" ng-options="minute for minute in minutes"></select>
            </div>
            <div class="time-picker-field">
                <select id="startMeridiem" class="form-control" ng-model="startMeridiem">
                    <option value="AM" selected="selected">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="attendeeCount">Number of Attendees</label>
        <input type="number" class="form-control" id="attendeeCount" name="attendeeCount" ng-model="attendeeCount"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Search"/>
    </div>
</form>
<table class="table" ng-show="showResults && rooms.length > 0">
    <thead>
    <tr>
        <th>Room</th>
        <th>Available from</th>
        <th>Available to</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="room in rooms">
        <td>{{room.Name}}</td>
        <td>{{room.Start | date: 'yyyy-MM-dd HH:mm'}}</td>
        <td>{{room.End | date: 'yyyy-MM-dd HH:mm'}}</td>
        <td><a href="#/rooms/book/{{room.Name}}/{{room.Start | date : 'yyyy-MM-dd'}}" class="btn btn-default">Book</a></td>
    </tr>
    </tbody>
</table>
<div ng-show="showResults && rooms.length == 0">
    No results...
</div>